# Secret Environment Variables (NEVER PUSH THESE)
.env
.env.local
.env.production

# Dependencies (Huge folders installed via npm)
node_modules/

# Build outputs
dist/
build/

# System / OS junk files
.DS_Store
Thumbs.db

# Log files
*.log